body {
    background-image: url("nebulosa.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

p {
    color: white;
    border: 5px solid orange;
    border-radius: 10px;
    width: 300px;
    font-size: x-large;
    padding: 20px;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.65);
    position: absolute;
    left: 50px;
    top: 50px;
}
