body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  .grafico {
    display: flex;
    align-items: flex-end;
    margin-top: 20px;
    height: 200px;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
  }
  
  .barra {
    background-color: purple;
    margin-right: 5px;
    display: inline-block;
  }
  
  input {
    margin: 5px 0;
  }
  